.player-logout {
  float: right;
  margin-top: -285px;
  background: #E7FEF6;
  border: lightgray 1px solid;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.3);
}

.error {
  background: firebrick;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 15px;
  color: lightgray;
  text-align: center;
  margin-top: -15px;
}

.main div.online-list {
  margin: 15px 200px;
}
.main div.online-list p {
  font-size: 1.2em;
}
table.players tr:hover {
  background: ghostwhite;
}
table.players td:first-child {
  width: 300px;
}
table.players td {
  padding: 3px 10px;
}
table.players button {
  background: ghostwhite;
  box-shadow: grey 2px 2px 1px;
}
table.players button:hover {
  background: lightgray;
}
